<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-SourceFiles" />
				<remove name="X-Powered-By" />
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<rewrite>
			<rules>
				<clear />
			</rules>
		</rewrite>
	</system.webServer>
</configuration>

